# Arquivos de compilação
build/
cache/
out/

# Arquivos de configuração do Hardhat/Truffle
hardhat.config.js
truffle-config.js

# Arquivos de configuração do Foundry
foundry.toml
.cache-forge/
.immutable_cache/

# Arquivos de dependências
node_modules/
lib/

# Arquivos de testes
.coverage_map/
coverage/

# Arquivos de ambiente
.env

# Arquivos de chave privada
.secret
